@model ImpulseBudget.Models.Debt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Debt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AprPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AprPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEssential)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEssential)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
